.item {
  display: flex;
  font-size: 14px;
}

.image {
  width: 160px;
  border-radius: 10px;
}

.content {
  width: 200px;
  padding: 10px;
}

.info {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 15px;
}

.title {
  display: block;
  margin-top: 15px;
  font-size: 16px;
}

.test {
  display: flex;
  justify-content: space-between;
}

.rank {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  font-size: 15px;

  & div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & svg {
    margin-right: 5px;
  }
}

.genres {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.label {
  margin-right: 15px;
}
